img {
	max-width: 100%;
	height: auto;
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

.body{
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	height: 800px;
	margin-top: -20px;
}

@font-face {
	font-family: sui_generis_rg;
	src: url(../fonts/sui_generis_rg.ttf);
}


.p-0 {padding: 0;}
.m-0 {margin: 0;}
.pl-0 {padding-left: 0px;}
.ml-0 {margin-left: 0;}
.mt-15 {margin-top: 15px;}

.navbar{
	color: #FFF !important;
	font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #F75B43;
}

.navbar-default {
	background-color: #3F4A58 !important;
	border-color: #3F4A58 !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #F75B43;
	background-color: transparent !important;
}

.navbar-brand {
	height: 70px !important;
}

.navbar-nav{
	margin-top: 15px;
}


.LoginSection{
	margin: 25px 0px;
}

.LoginSection > a{
	padding: 15px 25px;
	border: 1px solid #FFFFFF;
	margin: 0px 10px;
	text-decoration: none;
	color: #FFFFFF;
}

.signup{
	padding: 18px 25px;
	background-color: #DC552C;
	border: 0px !important;
}

.btn-post-project{
	background-color: #f77d0e;
	color: #FFFFFF;
}
.signup-tag hr{
	width:250px;
}

.signupH3{
	color: #DC552C;
	margin: 10px 0;
	line-height: 23px;
}
.padding-top-10{
	padding-top: 15px;
}

#submit-button{
	text-transform: uppercase;
}


#login>.modal-dialog {
	width: 360px;
	height: 478px;
	margin: 130px auto;
}

#signup>.modal-dialog{
	width: 720px;
	height: 730px;
}

#signup .modal-header {
	padding: 25px 20px;
}

#register-link {
	margin: 10px 0 25px;
}

.logging {
	text-align: center;
	margin-top: 50%;
}


#register-link a, #forgot-password-link {
	text-decoration: none;
	color: #ED6048;
}
#forgot-password-link{
	margin-top: 20px;
}
#page h2{
	font: 32px/1 "museo_sans_rounded";
	color: #4E4F49;
	margin-top: 0;
}

.bootstrap {
	font-size: 13px;
}

.bootstrap small {
	font-size: 13px;
}

#divider-container {
	position: relative;
}

#divider-container>div {
	position: absolute;
	top: -18px;
	line-height: 15px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	color: #bcbcbc;
	border: 1px solid #bcbcbc;
	padding: 7px;
	border-radius: 25px;
	background-color: #fff;
	font-size: 17px;
}


.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 24px;
}
.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 1.5px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: rgb(100, 189, 99);
}

input:focus + .slider {
	box-shadow: 0 0 1px rgb(100, 189, 99);
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.btn-signin{
	background-color: #d23333;
	color: #FFFFFF;
}

.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border-color: rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

.btn-google{
	background-color: #DD4B39;
	color: #fff;
	margin-bottom: 40px;
}

.btn-social {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.span6 {
	height: 60px;
}

.span6:first-child{
	width: 41%;
	padding-top: 20px;
}

.remember{
	margin-top: 30px;
}
.span6:last-child{
	width: 59%;
}
.submit-box{

}
